body {
    background-image: url("/assets/images/background.jpg");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
    text-align: right;
}

.headings-display {
    background-color: rgb(186, 221, 233);
    border: 2px solid rgb(186, 221, 233);
}

.headings-display.main {
    border: 3px solid rgb(38, 36, 36);
}
